@media (min-width: 1024px){
    .container{
        margin:0;  
        padding: 0;
    }

    .header{
        width: 95.8%;
    }

    #nav ul, li, a{   
        font-size: 2.2vw;
        padding: 0px 1vmax 0px 0.8vmax; 
    }

    .A a{
        font-size: 2.3vw; 
        padding:  1vmax 20vmax 1.5vmax 1.8vmax;
    }
    
     
    .ZRp-1{
        font-size:  2.2vw;
    }
    
    .ZRt-1{
        font-size:  2.3vw;
    }
    .t{
        font-size:  3.2vw;
        margin-top: 1.6vw;
    }
    
    .p{
        font-size:  2.3vw;
        line-height : 3.33vw;
        margin: 1vmax 0vmax 2.4vmax 0vmax;
    }

    .t-2{
        font-size:  2.9vw;
    }

    .p-2{
        font-size:  2vw;
        line-height : 3.8vmin;
    }

    .ZRt-2{
        font-size:  3.4vw;
        margin: 5.5vmax 1.5vmax 0.5vmax 1.5vmax;
    }
    
    .ZRp-2{
        font-size:  2vw;
        word-spacing: 0.56vw;
        line-height : 3.8vmin;
        margin: 0vmax 0vmax 5vmax 0vmax;
    }
}