:root {
  --rojo: #ed0f0f;
  --azuloscuro: #2c4655;
  --blanco: #ffffff;
  --gris: #838383;
  --grisclaro: #797979;
}

* {
  margin: 0;
  padding: 0;
}

.header {
    padding: 2em 1.5em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blanco);
    border-top: 1.2vmax solid var(--rojo);
  }

  .logo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0.5em;
  }

.L1 {
  font-family: "Lato-Light";
  color: var(--rojo);
  font-size: 4vw;
}

.L2 {
  font-family: "Lato-Regular";
  color: var(--azuloscuro);
  font-size: 4vw;
}

#nav input,label{
    display: none;
}

#nav ul,li,a {
    display: inline;
    padding: 0px 1vmax 0px 0.2vmax;
    margin-right: 0.3vmax;
    color: var(--azuloscuro);
    font-family: "Lato-Regular";
    font-size: 3vw;
    text-decoration: none;
  }
  
#nav a:hover {
  color: var(--rojo);
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.OBN {
  margin:0vmax 1.5vmax 0vmax 1.5vmax;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 2.5vw;
}

.Paisaje{
    display: grid;
    grid-template-rows: repeat(2, 78%);
   
}

.Paisaje .I{
    margin: 0;
    grid-area: 1/1/3/3;
}

.Paisaje .A{  
    margin: 0;
    grid-area: 2/1/3/3;     
  }

.A a{
    font-family: "Lato-Regular"; 
    font-size: 3vw;  
    background-color: var(--azuloscuro); 
    color: var(--blanco);
    padding:  3% 34.6% 3% 10%; 
    margin: 0;
}

.Z-Rojo{
    background-color: var(--rojo);
    padding:  3vmax 5vmax 2.8vmax 6vmax;

}

.ZRp-1{
    font-family: "Lato-Regular";
    color: var(--blanco);
    font-size:  2.18vw;
    padding-top: 0.7vmax;
    line-height : 2.8vw;
}

.ZRt-1{
    font-family: "Lato-Regular";
    color: var(--blanco);
    font-size:  2.5vw;
}

.S{
    margin: 1.8vmax 2.8vmax;
    display: grid;
    grid-template-rows:repeat (3, 200px);
    row-gap: 1.8vw;
    
}

.S-1{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    column-gap: 2vw;
}

.S-2{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    column-gap: 2vw;
}

.S-3{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    column-gap: 2vw;
}

.t{
    font-family: "Lato-Regular";
    font-size:  3vw;
    color: var(--gris);
    margin-top: 1.5vw;
}

.p{
    font-family: 'Lato-Light';
    font-size:  2.3vw;
    line-height : 3.5vw;
    color: var(--grisclaro);
    text-align: justify;
    margin: 0.3vmax 0vmax 1.9vmax 0vmax;
    
}

.RM{
    font-family: "Lato-Bold";
    font-size:  2.3vw;
    background-color: var(--rojo);
    color:var(--blanco);
    padding: 1vmax 3.3vmax 1vmax 3.3vmax;
}

.Z-Azul{
    background-color: var(--azuloscuro);
    padding: 5vw 8vw;
}

.Z-Azul h2{
    font-family: "Lato-Bold";
    font-size:  3.68vw;
    color:var(--blanco);
    text-align: center;
}

.Z-Azul p{
    margin-top: 0.2vmax;
    font-family: "Lato-Regular";
    font-size:  2.11vw;
    color:var(--blanco);
    text-align: justify;
    text-align-last: center;
    line-height : 3vw;
}

.J{
    margin: 1.5vmax 1.5vmax 6vmax 1.5vmax;
    display: grid;
    grid-template-columns: repeat(3, 32.4%);
    grid-template-rows: repeat(1, auto);
    gap: 1.2vw;
}

.p-2{
    font-family: 'Lato-Light';
    font-size:  2.3vw;
    color: var(--grisclaro);
    text-align: justify;
    margin: 1vmax 0vmax 1.9vmax 0vmax;
    line-height : 3vmin;
}

.ZRt-2{
    font-family: "Lato-Regular";
    color: var(--blanco);
    font-size:  2.7vw;
    text-align: center;
    margin: 5.5vmax 1.5vmax 0.5vmax 1.5vmax;
}

.ZRp-2{
    font-family: "Lato-Regular";
    color: var(--blanco);
    font-size:  2.15vw;
    word-spacing: 0.2vw;
    text-align: center;
    line-height : 3vmin;
    margin: 1vmax 1.5vmax 5vmax 1.5vmax;
}
/*
footer{
    background-color: #2c4655;
    margin-top: 5vmax;
    display: grid;
    grid-template-columns: repeat(2, 10%), 30%;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
    column-gap: 30px;
}

.KIT{
    padding: 2vw ;
    grid-area: 1/1/2/3;
}

.CU{
    padding: 2vw ;
    grid-area: 1/2/2/3;
}

.SM{
    grid-area: 1/3/2/3;
}

.CR{
    grid-area: 2/1/3/4;
}

.KIT H6{
    font-size: 1.5vw;
    font-family: "Lato-Regular";
    color: var(--blanco);
    text-decoration: underline;
}

.KIT ul,li {
    display: block;
    text-decoration: none;
    margin-top: 0.8vmax;
}

.KIT a {
    font-family: "Lato-Regular";
    color: var(--blanco);
    font-size: 1.8vw;
    text-decoration: none;
}
.KIT a:hover {
    text-decoration: underline;
}

.CU h6{
    font-size: 1.5vw;
    font-family: "Lato-Regular";
    color: var(--blanco);
    text-decoration: underline; 
}

.CU ul,li,a {
    display: block;
    padding: 0px 1vmax 0px 0.2vmax;
    margin-right: 0.3vmax;
    color: var(--blanco);
    font-family: "Lato-Regular";
    font-size: 1vw;
    text-decoration: none;
}

.CU a:hover {
    text-decoration: underline;
}


.icon{
    width: 5%;
    height: auto;
}

.SM P{
    color: var(--blanco);
    font-family: "Lato-Regular"
}

.CR{
    background-color: var(--rojo);
    padding: 2vmax 0;
    margin: 0px 0vmax 30px 0vmax;
}

.CR p{
    text-align: center;
    color: var(--blanco);
    font-family: "Lato-Bold";
    font-size: 1.8vw;
}

.Social-icon{
    display: flex;
    flex-direction: row;
}
*/